<div class="row">
  <h1 class="index_header">Fishing Spots!</h1>
  <ul style="list-style: none">
    <!-- <% @members.each do |member| %> -->
      <!-- <li class="question_index"><%= member.username %> - <%= link_to 'Delete User',
                             user_path(member),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %> </li>
    <% end %> -->
  </ul>
</div>
