<div class="row">
  <div class="small-12 large-6 small-centered">
    <div class="devise-new">

      <div class="row">
        <h1 class="index_header">Where did you go?</h1>
        <ul style="list-style: none">
        </ul>
      </div>

      <div id="app">
      </div>
    </div>
  </div>
</div>
