<div class="row">
  <div class="small-centered head">
    <div style="text-align: center">
      <h1> <%= @user.username %>'s profile </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 small-centered">
    <div class="add-a-spot">
      <%= link_to "Edit or delete my profile", edit_user_registration_path %>
    </div>
  </div>
</div>
