<div class="row">
  <div class="small-centered head">
    <h1> profile </h1>
  </div>
</div>

<div class="row">

<div class="column small-12 large-4 avatar">
<div class="row">
<%= link_to "Edit my profile", edit_user_registration_path %>

</div>
</div>
