@import "settings";

.spot-form {
  background-color: $white;
  border-radius: 10px;
  color: $black;
  padding: 2em;
  margin-top: 2em;

  label {
    color: $black;
  }
}

.spot-label {
  a, p {
    display: inline-block;
  }
}

.spot-header {
  color: $white;
  font-weight: bold;
  padding: 2em;
  text-align: center;
}

#error_explanation {
  font-family: $secondary-font-family;
  font-size: 20px;
  text-align: center;
}

.spot-tile {
  text-align: center;
  // border-style: inset;
  border-radius: 10px;
  margin-top: 2em;
  padding: 2em;
  background: $medium-gray;
  opacity: 0.8;
}

.add-a-spot {
  font-family: $secondary-font-family;
  font-size: 30px;
  border-radius: 10px;
  padding: .1em;
  background: #16ce69;
  color: #0a0a0a;
  margin: 0;
  text-align: center;
}
.add-a-spot a {
  color: $black;
}

.heading {
  margin-bottom: 2em;
}


.welcome {
  margin: 3rem;
}

#checkbox{
  width: 25px;
  height: 25px;
}
